<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <div class="container">
     <form class="login-signup-form" action="/sign-in" method="post">
      <h2>create account</h2>
      <div>
         <label for="email">Email</label>
         <input type="email" class="email-input" name="email" placeholder="Enter your email" required>
      </div>
      <div>    
        <label for="password">Password</label>
        <input type="password" class="password-input" name="password" placeholder="Enter your password" required>    
      </div>  
      <div>
        <p>Account already exists? <a href="/login">login</a></p>
      </div>
      <input type="submit" value="sign in" class="submit-button"/>
     </form>
   </div>
</body>
</html>
